node_modules
.svelte-kit
build
.evidence/
static/data
*.options.yaml
.env
catalog/datasets.json

# Observable Framework
.observablehq/
dist/observable/
__pycache__/
src/data/*.json.py
src/dataset/*.md

.coverage
